KEYCLOAK_CLIENT_SECRET="jouw-client-secret"
KEYCLOAK_CLIENT_ID="blazor-web-app"
KEYCLOAK_AUTHORITY="https://<jouw-keycloak-domein>/realms/<realm-naam>"
BLAZOR_IMAGE=<jouw-registry>/demo:latest
API_IMAGE=<jouw-registry>/demo-api:latest
